@import url("https://fonts.googleapis.com/css2?family=Square+Peg&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@600&display=swap");

body {
  font-family: "Prompt", sans-serif;

  font-size: 20px;
  background-image: url(https://images.unsplash.com/photo-1604147706283-d7119b5b822c?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687);
  opacity: 90%;
}
.navbar {
  position: sticky;
  top: 0;
}
button {
  font-size: 15px;
}
.social-media-icons {
  color: white;
}
i {
  margin-left: 5px;
  margin-right: 5px;
}
a {
  text-decoration: none;
  color: #5c5a58;
}
a:hover {
  color: white;
}

.navbar {
  background: #e8e4df;
}
.main {
  align-items: center;
}
.main img {
  width: 100%;
  height: 20%;
}
h1 {
  font-weight: bold;
  margin: 10px;
}
.container,
.contact,
.quote-container,
.about-section {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.profile {
  width: 120px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 5px;
}
.form-group {
  text-align: center;
  align-items: center;
}
.card {
  width: 90%;
  border: solid, black, 2px;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0px;
  background-color: #f5f5f5;
  text-align: center;
  background: #f9f9f9;
  justify-content: center;
  align-items: center;
}
.services {
  border: white 2px solid;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0px;
  display: inline-block;
  margin: 10px;
  padding: 5px;
  background-color: white;
}
.services > p {
  font-size: 15px;
  font-family: sans-serif;
}
.programs {
  background-image: url("https://images.unsplash.com/photo-1604147706283-d7119b5b822c?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687");

  margin-bottom: 30px;
}
.about {
  background-color: #404040;
  color: white;
  opacity: 80%;
}
.book-button button {
  border-radius: 10px;
  background-color: white;
  margin-bottom: 10px;
  width: 280px;
  height: 40px;
}
.book-button a {
  color: black;
}
form button,
form input {
  border-radius: 10px;
  margin-left: 10px;
  width: 200px;
}
form button {
  width: 150px;
  height: 40px;
  color: black;
}
.card button {
  background: #e8e4df;
}
button:hover {
  opacity: 70%;
}
p.bubble {
  position: relative;
  width: 300px;
  text-align: center;
  line-height: 1.4em;
  margin: 40px auto;
  background-color: #fff;
  border: 8px solid #333;
  border-radius: 30px;
  font-family: sans-serif;
  padding: 20px;
  font-size: large;
}

p.thought {
  width: 300px;
  border-radius: 200px;
  padding: 30px;
}

p.bubble:before,
p.bubble:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
}
p.thought:before,
p.thought:after {
  left: 10px;
  bottom: -30px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 8px solid #333;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
}

p.thought:after {
  width: 20px;
  height: 20px;
  left: 5px;
  bottom: -40px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
}
.testimonials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.testimonial {
  width: 250px;
  height: 200px;
  border-radius: 80%;
  font-size: 15px;
  margin: 20px;
  padding: 30px;
}
.form {
  font-family: "Prompt", sans-serif;
  font-size: 20px;
  width: 90%;
}

.footer {
  height: 200px;
  background-color: #404040;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
}
.social-media-footer {
  color: white;
}
li {
  display: inline;
}
li + li:before {
  content: " · ";
}

.legal {
  width: 400vw;
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 600px) {
  body {
    overflow-y: auto;
    font-size: 15px;
  }
  ,
  form {
    width: 100%;
  }
}
